<footer>
    <div class="grad-right"></div>
    
    <img class="footer-back footer-back--grad" src="/img/footer-background.jpg" alt="Dark footer background">

    <img class="footer-back footer-back--flat" src="/img/footer-background-flat.jpg" alt="Dark footer background">

    <div class="container block">
        <span class="read read--big">
            Get in <span class="inl-span">touch!</span>
        </span>

        <p>
            Want to get in touch? No problem, you find all info on the <span class="inl-span highlight">contact page.</span>
        </p>

        <a href="/contact" class="btn">
            Go to contact
        </a>

        <span class="small-text">
            Made by Kyandro De Volder - 2023
        </span>
    </div>
</footer>