<footer class="block">
    <div class="container">
        <span class="read read--big">
            Get in <span class="inl-span">touch!</span>
        </span>

        <p>
            Want to get in touch? No problem, you find all info on the <span class="inl-span highlight">contact page.</span>
        </p>

        <a href="#" class="btn btn--neg">
            Go to contact
        </a>

        <span class="small-text">
            Made by Kyandro De Volder - 2023
        </span>
    </div>
</footer>