footer {
    background-image: url('/img/footer-background-flat.jpg');
    background-position: right;
    background-repeat: no-repeat;
    height: 322px;
    color: var(--bright);
    overflow: hidden;

    & .read {
        color: var(--bright);
    }

    & .read--big {
        margin: var(--spacing-base) 0 var(--margin-s) 0;
    }

    & .btn {
        margin: var(--margin-base) 0 var(--margin-m) 0;        
    }

    & .small-text {
        color: var(--bright);
    }
}

@media (min-width: 80rem) {
    footer {
        background-image: url('/img/footer-background.jpg');
        color: var(--dark);

        & .read {
            color: var(--dark);
        }

        & .small-text {
            color: var(--dark);
        }
    }
  }