{% extends "./base.njk" %}

{% block main %}
    {% block categories %}
        {{ content | safe }}
    {% endblock categories %}

    {% block bottom %}
        {{ content | safe }}
    {% endblock bottom %}
{% endblock main %}