{% extends "./base.njk" %}

{% block main %}
    {% block content %}
        {{ content | safe }}
    {% endblock content %}

    {% block bottom %}
        {{ content | safe }}
    {% endblock bottom %}
{% endblock main %}