.thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-base);

    & .thumbnails__case {
        flex-grow: 1;
        aspect-ratio: 1 / 1;
        position: relative;
        overflow: hidden;

        &.thumbnails__case:hover {
            cursor: pointer;
        }

        & img {
            transition: .4s all ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.thumbnails__case:hover img {
            transform: scale(1.2);
        }

        & .thumbnails__title {
            color: var(--bright);
            margin-bottom: 0;
            position: absolute;
            z-index: 20;
            left: var(--spacing-base);
            bottom: var(--margin-s);
        }
    }
}

@media (min-width: 665px) {
    .thumbnails__case {
        max-width: 18rem;
    }

    .cases-link {
        margin-top: var(--spacing-base);
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 976px) {
    .thumbnails__case:nth-child(even) {
        aspect-ratio: 1 / 1.2;
    }
}

.fade {
    width: 100%;
    height: 55%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.categories .categories__category:nth-child(odd) {
    & .thumbnails__title {
        color: var(--dark);
        font-weight: 600;
    }

    & .fade {
        background-image: linear-gradient(rgba(0,0,0,0), rgb(255, 255, 255));
    }
}