.block {
    padding: var(--spacing-base);

    &.block--languages {
        margin-top: var(--margin-m);

        & .languages {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--margin-m);
        }

        & img {
            width: 7rem;
            filter: opacity(.6)
        }

        & li {
        max-width: 30%;
        display: flex;
        justify-content: center;
    }

        & .language-njk {
            transform: scale(.7);
        }
    }
}

.big-block {
    padding: var(--margin-l) var(--spacing-base);

    &.intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .swipe-parent {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: var(--margin-m);
        }

        & p {
            max-width: 44.6rem;
            text-align: center;
        }

        // & .swipe-left {
        //     color: var(--primary);
        //     position: absolute;
        //     z-index: -1;
        //     /* TO FIX */
        //     right: -250%;
        //     width: 35rem;
        // }

        & p {
            text-align: center;
            max-width: 35rem;
        }
    }

    &.categories__category {
        & .cat-square {
            display: none;
        }

        & .title {
            max-width: 543px;
        }

        & p {
            margin-bottom: var(--margin-m);
            max-width: 40rem;
        }

        & .cases-link a {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: var(--spacing-base);
            display: flex;
            align-items: center;
            gap: calc(var(--spacing-base) / 2);
            
            & svg {
                transition: .2s all ease-in-out;
            }
        }

        & .cases-link:hover svg {
            transform: translateX(1rem);
        }
    }

    &.block--contact {
        & .title {
            color: var(--primary);
        }

        & .contact__intro p {
            max-width: 468px;
            margin-bottom: var(--margin-m);
        }

        & .contact__info {
            display: flex;
            flex-direction: column;
            gap: var(--margin-base);

            & span {
                margin-bottom: calc(var(--margin-s) / 2);
            }

            & address {
                font-style: normal;
            }
        }
    }

    &.block--categories {
        & .cat-intro {
            text-align: center;
            margin-bottom: var(--margin-l);
        }
    }
}

@media (max-width: 31rem) {
    .block--contact .title {
        max-width: 200px;
    }
}

@media (min-width: 45rem) {
    .block--contact {
        display: flex;
        flex-direction: column;

        & .contact__info {
            align-self: flex-end;
            transform: translateY(-4rem);
        }
    }
}

.categories .categories__category:nth-child(odd) {
    color: var(--bright);
    background-color: var(--dark);

    & .title:not(.title--highlight) {
        color: var(--bright);
    }

    & p {
        line-height: 1.6;
    }
}

.contact-timer {
    width: 100%;
    background-image: linear-gradient(to right, var(--primary) , var(--secondary));
    display: flex;
    justify-content: center;

    & .contact-clock {
        color: var(--bright);
        text-align: center;
    }
}

.code-cat__container {
    margin-top: -1.5rem;
}