.block {
    padding: var(--spacing-base);
}

.big-block {
    padding: var(--margin-l) var(--spacing-base);

    &.intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .swipe-parent {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: var(--margin-m);
        }

        & .swipe-left {
            position: absolute;
            z-index: -1;
            /* TO FIX */
            right: -80px;
        }

        & p {
            text-align: center;
            max-width: 35rem;
        }
    }
}