.welcome-load {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--dark), hsl(0, 0%, 0%));
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    z-index: 100;

    & .welcome__circle {
        width: 8rem;
        height: 8rem;
        background: linear-gradient(to bottom right, var(--primary) 40%, var(--secondary));
        border-width: 1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .circle__inner {
        width: 88%;
        height: 88%;
        background-color: hsl(0, 0%, 4%);
        border-radius: 50%;
    }
}

