{% macro heroDetail(img, title) %}
    <section class="detail-banner">
        <img class="detail-banner__img" src="{{ img }}" alt="Hero image from the {{ title }} case">

        <div class="container big-block">
            <ul class="bread-crumb">
                <li>
                    <a href="/cases">
                        Cases
                    </a>
                </li>

                <li>
                    &#62;
                </li>

                <li class="current-page">
                    {{ title }}
                </li>
            </ul>

            <h1 class="title">
                {{ title }}
            </h1>
        </div>
    </section>
{% endmacro %}