{% macro socials(socials) %}
    <ul class="socials">
        {% for social in socials %}
        <li>
            <a target="_blank" rel="noopener noreferrer" href="{{ social.url }}">
                <img src="{{ social.icon }}" alt="Logo of {{ social.title }}">
            </a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}