.block {
    padding: var(--spacing-base);
}

.big-block {
    padding: var(--margin-l) var(--spacing-base);

    &.intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .swipe-parent {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: var(--margin-m);
        }

        & .swipe-left {
            position: absolute;
            z-index: -1;
            /* TO FIX */
            right: -80px;
        }

        & p {
            text-align: center;
            max-width: 35rem;
        }
    }

    &.categories__category {
        & .cat-square {
            display: none;
        }

        & .title {
            max-width: 543px;
        }

        & p {
            margin-bottom: var(--margin-m);
        }

        & .cases-link {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: var(--spacing-base);
            display: flex;
            align-items: center;
            gap: calc(var(--spacing-base) / 2);
        }
    }
}

.categories .categories__category:nth-child(odd) {
    color: var(--bright);
    background-color: var(--dark);

    & .title:not(.title--highlight) {
        color: var(--bright);
    }

    & p {
        line-height: 1.6;
    }
}