.block {
    padding: var(--spacing-base);
}

.big-block {
    padding: var(--margin-l) var(--spacing-base);

    &.intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .swipe-parent {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: var(--margin-m);
        }

        & p {
            text-align: center;
        }

        // & .swipe-left {
        //     color: var(--primary);
        //     position: absolute;
        //     z-index: -1;
        //     /* TO FIX */
        //     right: -250%;
        //     width: 35rem;
        // }

        & p {
            text-align: center;
            max-width: 35rem;
        }
    }

    &.categories__category {
        & .cat-square {
            display: none;
        }

        & .title {
            max-width: 543px;
        }

        & p {
            margin-bottom: var(--margin-m);
        }

        & .cases-link a {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: var(--spacing-base);
            display: flex;
            align-items: center;
            gap: calc(var(--spacing-base) / 2);
            
            & svg {
                transition: .2s all ease-in-out;
            }
        }

        & .cases-link:hover svg {
            transform: translateX(1rem);
        }
    }
}

.categories .categories__category:nth-child(odd) {
    color: var(--bright);
    background-color: var(--dark);

    & .title:not(.title--highlight) {
        color: var(--bright);
    }

    & p {
        line-height: 1.6;
    }
}