.categories {
    & .categories__banner {
        color: var(--bright);
        background-color: var(--dark);
        padding: var(--margin-m);

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .read--big {
            color: var(--bright);
        }
    }
}

@media (max-width: 33.5rem) {
    .categories__banner {
        & .read--big {
            font-size: 17px;
        }
    }
}

.cat-content__cases {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    color: var(--bright);

    & .case-card {
        aspect-ratio: 1 / 1;
        position: relative;
        display: flex;

        & .fade {
            height: 75%;
        }

        & .read--bold {
            color: var(--primary);
            margin-bottom: 1rem;
        }

        & .case-card__content {
            align-self: flex-end;
            position: relative;
            z-index: 20;
        }
    }
}