.categories {
    & .categories__banner {
        color: var(--bright);
        background-color: var(--dark);
        padding: var(--margin-m);

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .read--big {
            color: var(--bright);
        }
    }
}

@media (max-width: 33.5rem) {
    .categories__banner {
        & .read--big {
            font-size: 17px;
        }
    }
}