.banner-home {
    height: 100vh;
    background-image: url("/img/banner-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .banner-title {
        font-family: "HK Grotesk";
        font-weight: 300;
        font-size: 2.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.1;
        color: var(--bright);
        text-align: center;
    }
}

.full-nav {
    position: relative;

    & .menu--open {
        position: fixed;
        top: var(--spacing-base);
        right: var(--spacing-base);
        z-index: 60;
        mix-blend-mode: difference;
    }

    & .navigation {
        width: 100%;
        height: 100vh;
        background-color: rgba(17, 18, 19, .75);
        backdrop-filter: blur(20px);
        padding: var(--spacing-base);
        position: fixed;
        z-index: 50;
    }

    & .nav-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .menu--close {
            align-self: flex-end;
        }
    }

    & .navigation__list {
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: var(--margin-m);

        & a {
            color: var(--bright);
        }
    }
}