---
title: KDV | Home
tags: nav
nav:
    title: Home
    order: 1
---

{% extends "../_layouts/banner.njk" %}
{% import "../_components/_socials.njk" as fileSocials %}

{% block banner %}
    <div class="banner-home block">
        <div class="banner-home__content">
            <img class="banner__rect" src="/img/banner-square.png" alt="Rectangle with gradiënt on it">

            <div class="empty-fill"></div>

            <span class="banner-title">
                Hello, <br>welcome!
            </span>

            {{ fileSocials.socials(socials) }}

            <span class="banner-title-long">
                Hi, I&#39;m Kyandro and welcome to my portfolio! Take a look around.
            </span>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <div class="big-block intro">
        <h1 class="sr-only">
            Kyandro De Volder, Graphic designer and front-end designer
        </h1>

        <div class="swipe-parent">
            <span class="swipe-left title invisible">Design Coding Photo</span>

            <img src="/img/self-portrait.jpg" alt="A self portrait of Kyandro">
        </div>

        <p class="intro__text">
            I&#39;m Kyandro De Volder, a <span class="inl-span highlight">front-end developer</span> and <span class="inl-span highlight">graphic designer</span> who loves
            <span class="inl-span highlight">photography.</span> I enjoy creating visually appealing stuff.
        </p>
    </div>

    <div class="categories">
        <div class="categories__banner">
            <ul class="container read read--big">
                <li>
                    <a href="#design-cat">
                        Design
                    </a>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="58" fill="none">
                        <path stroke="#fff" stroke-width="2" d="M1 0v58" />
                    </svg>
                </li>

                <li>
                    <a href="#code-cat">
                        Coding
                    </a>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="58" fill="none">
                        <path stroke="#fff" stroke-width="2" d="M1 0v58" />
                    </svg>
                </li>

                <li>
                    <a href="#photo-cat">
                        Photo
                    </a>
                </li>
            </ul>
        </div>

        <div id="design-cat" class="container big-block categories__category">
            <img class="cat-square" src="/img/square-grad.png" alt="Square with a gradiënt border">

            <h2 class="title">
                Spotlighted <span class="title title--highlight inl-span">design</span> cases
            </h2>

            <p>
                I got my bachelor's degree as <span class="inl-span highlight">Graphic Designer with photography.</span> Being creative and showing
                this in all kinds of cases is something I like.
            </p>

            <div class="thumbnails">
                {% for item in collections.cases %}
                    {% if item.data.kind == "design" and item.data.spotlight == true %}
                        <a class="thumbnails__case" href="{{ item.page.url }}">
                            <p class="read read--bold thumbnails__title">
                                {{ item.data.title }}
                            </p>
    
                            <div class="fade"></div>
    
                            <img src="{{ item.data.img }}" alt="Image of {{ item.data.title }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="cases-link">
                <a href="/cases">
                    <span>
                        View all cases
                    </span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" fill="none">
                        <path fill="var(--dark)"
                            d="M25.53 6.53a.75.75 0 0 0 0-1.06L20.757.697a.75.75 0 0 0-1.06 1.06L23.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L25.53 6.53ZM0 6.75h25v-1.5H0v1.5Z" />
                    </svg>
                </a>
            </div>
        </div>

        <div id="code-cat" class="big-block categories__category">
            <div class="container block code-cat__container">
                <img class="cat-square" src="/img/square-grad.png" alt="Square with a gradiënt border">

                <h2 class="title">
                    Spotlighted <span class="title title--highlight inl-span">coding</span> cases
                </h2>

                <p>
                    Coding also is a really fascinating thing for me. Currently I&#39;m in my last year of <span class="inl-span highlight">graduate programming as a front-end developer.</span>
                </p>

                <div class="thumbnails">
                    {% for item in collections.cases %}
                        {% if item.data.kind == "coding" and item.data.spotlight == true %}
                            <a class="thumbnails__case" href="{{ item.data.url }}" target="_blank">
                                <p class="read read--bold thumbnails__title">
                                    {{ item.data.title }}
                                </p>
        
                                <div class="fade"></div>
        
                                <img src="{{ item.data.img }}" alt="Image of {{ item.data.title }}">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="cases-link">
                    <a href="/cases">
                        <span>
                            View all cases
                        </span>

                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" fill="none">
                            <path fill="var(--bright)"
                                d="M25.53 6.53a.75.75 0 0 0 0-1.06L20.757.697a.75.75 0 0 0-1.06 1.06L23.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L25.53 6.53ZM0 6.75h25v-1.5H0v1.5Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div id="photo-cat" class="container big-block categories__category">
            <img class="cat-square" src="/img/square-grad.png" alt="Square with a gradiënt border">

            <h2 class="title">
                Spotlighted <span class="title title--highlight inl-span">photo</span> cases
            </h2>

            <p>
                Photography has picked my interest since I was little. Not only in my art studies, but also <span class="inl-span highlight">events, product, portraits, ...</span> taught me a lot.
            </p>

            <div class="thumbnails">
                {% for item in collections.cases %}
                    {% if item.data.kind == "photo" and item.data.spotlight == true %}
                        <a class="thumbnails__case" href="{{ item.page.url }}">
                            <p class="read read--bold thumbnails__title">
                                {{ item.data.title }}
                            </p>
    
                            <div class="fade"></div>
    
                            <img src="{{ item.data.img }}" alt="Image of {{ item.data.title }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="cases-link">
                <a href="/cases">
                    <span>
                        View all cases
                    </span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" fill="none">
                        <path fill="var(--dark)"
                            d="M25.53 6.53a.75.75 0 0 0 0-1.06L20.757.697a.75.75 0 0 0-1.06 1.06L23.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L25.53 6.53ZM0 6.75h25v-1.5H0v1.5Z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}